h1 {
	color: navy;
	text-align: right;	
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
}
/*body {
	box-sizing: border-box;
	padding: 10px;
	border: 10px;
	
}
*/
@media screen {
	.title-card{
		box-sizing: border-box;
		width: 50%;
		height: auto;
		opacity: 0.9;
	}


}
.horizontal-line{
	color: navy;
}
.top-bar {
	
	color:maroon;
	text-align: right;
	font-style: oblique;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;


}
.top-bar:hover { 
    color: red;
}
.title-card{
	height: 50%;
	border-radius: 4px 4px 0px 0px;
	border: 1px solid #ddd;
	box-shadow: 10px 10px 5px #888888;
	box-sizing: border-box;
	display: block;
}
img, embed, object, video{
	max-width: 100%;
}

.nav-bar{
	min-height: 10%;
	background-color: #075396;
	color: #aebed0;
}